#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /*text-align: center;*/
}

.entry {
  justify-self: left;
}

.orderItem {
  background: rgb(60, 60, 60);
  background: linear-gradient(
    90deg,
    rgba(60, 60, 60, 1) 0%,
    rgba(77, 77, 77, 1) 0%,
    rgba(31, 31, 31, 1) 100%
  );
  display: grid;
  grid-template-columns: 7rem 7rem 2rem 1rem max-content;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'artikel artikel artikel artikel artikel'
    'platform purchaseDate anzahl currency price '
    'sonstiges sonstiges sonstiges sonstiges sonstiges';
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.datalist {
  color: white;
  /*font-size: 1.5rem;
  font-weight: 500;*/
  /*text-align: justify;*/
}

.artikel {
  grid-area: artikel;
}

.purchaseDate {
  grid-area: purchaseDate;
}

.anzahl {
  grid-area: anzahl;
}

.price {
  grid-area: price;
}

.currency {
  grid-area: currency;
}

.platform {
  grid-area: platform;
  height: 24px;
}

.sonstiges {
  grid-area: sonstiges;
}
