@import url('./YearCheckBox.css');

#root {
  /* max-width: 1280px; */
  width: min(100ch, 100% - 2rem);
  margin: 0 auto;
  padding: 2rem;
  /*text-align: center;*/
}

.entry {
  justify-self: left;
}

.orderItem {
  background: rgb(60, 60, 60);
  background: linear-gradient(
    90deg,
    rgba(60, 60, 60, 1) 0%,
    rgba(77, 77, 77, 1) 0%,
    rgba(31, 31, 31, 1) 100%
  );
  display: grid;
  grid-template-columns: 6rem 7rem 7rem 1rem auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'picture artikel artikel artikel artikel'
    'picture platform purchaseDate currency price '
    'picture sonstiges sonstiges sonstiges sonstiges';
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.picture {
  grid-area: picture;
  height: 80px;
  width: 80px;
  border-radius: 0.5rem;
  background-color: #1a1a1a;
  background-image: url('https://steamcdn-a.akamaihd.net/steam/apps/271590/header.jpg?t=1603989580');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 0.1rem 0.1rem #1a1a1a;
  border: 1px solid #1a1a1a;
}

.datalist {
  color: white;
  /*font-size: 1.5rem;
  font-weight: 500;*/
  /*text-align: justify;*/
}

.artikel {
  grid-area: artikel;
  overflow: hidden;
}

.purchaseDate {
  grid-area: purchaseDate;
}

.anzahl {
  grid-area: anzahl;
}

.price {
  grid-area: price;
}

.currency {
  grid-area: currency;
}

.platform {
  grid-area: platform;
  height: 24px;
}

.sonstiges {
  grid-area: sonstiges;
  display: flex;
  gap: 1rem;
  color: rgb(177, 177, 177);
  font-size: 0.9em;
}

.yearFilter {
  display: flex;
}

.vendorFilter {
  display: flex;
  gap: 1rem;
}

/*************** FORM DIALOG ****************/

.dialog {
  padding: 1rem;
  color: rgb(233, 233, 233);
  background: linear-gradient(
    90deg,
    rgba(60, 60, 60, 1) 0%,
    rgba(77, 77, 77, 1) 0%,
    rgba(31, 31, 31, 1) 100%
  );
  border-radius: 1rem;
  border: 1px solid #1a1a1a;
}

.itemDialog {
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* grid-template-rows: auto auto auto; */
  grid-template-areas:
    'header header'
    'itemLabel item'
    'priceLabel price'
    'platformLabel platform'
    'purchaseDateLabel purchaseDate'
    'currencyLabel currency'
    'imgUrlLabel imgUrl'
    'divLabel div'
    '... buttonsB';
  gap: 1rem;
}

.dialog::backdrop {
  background-color: rgba(59, 59, 59, 0.9);
}

.form-itemLabel {
  grid-area: itemLabel;
}

.form-item {
  grid-area: item;
}

.form-priceLabel {
  grid-area: priceLabel;
}

.form-price {
  grid-area: price;
}

.form-header {
  grid-area: header;
}

.form-button {
  grid-area: buttonsB;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.form-date {
  grid-area: purchaseDate;
}

.form-dateLabel {
  grid-area: purchaseDateLabel;
}

.form-platform {
  grid-area: platform;
}

.form-platformLabel {
  grid-area: platformLabel;
}

.form-currency {
  grid-area: currency;
}

.form-currencyLabel {
  grid-area: currencyLabel;
}

.form-div {
  grid-area: div;
}

.form-divLabel {
  grid-area: divLabel;
}

.form-imgUrl {
  grid-area: imgUrl;
}

.form-imgUrlLabel {
  grid-area: imgUrlLabel;
}
/*************** FORM DIALOG ****************/
