:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-shadow: 3px 3px #616161;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*------------- LOADING ANIMATION -------------*/

#fountainG {
  position: relative;
  width: 234px;
  height: 28px;
  margin: auto;
}

.fountainG {
  position: absolute;
  top: 0;
  background-color: rgb(0, 0, 0);
  width: 28px;
  height: 28px;
  animation-name: bounce_fountainG;
  -webkit-animation-name: bounce_fountainG;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-direction: normal;
  -webkit-animation-direction: normal;
  transform: scale(0.3);
  -webkit-transform: scale(0.3);
  border-radius: 19px;
  -webkit-border-radius: 19px;
}

#fountainG_1 {
  left: 0;
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}

#fountainG_2 {
  left: 29px;
  animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
}

#fountainG_3 {
  left: 58px;
  animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
}

#fountainG_4 {
  left: 88px;
  animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
}

#fountainG_5 {
  left: 117px;
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

#fountainG_6 {
  left: 146px;
  animation-delay: 1.35s;
  -webkit-animation-delay: 1.35s;
}

#fountainG_7 {
  left: 175px;
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}

#fountainG_8 {
  left: 205px;
  animation-delay: 1.64s;
  -webkit-animation-delay: 1.64s;
}

@keyframes bounce_fountainG {
  0% {
    transform: scale(1);
    background-color: rgb(0, 0, 0);
  }

  100% {
    transform: scale(0.3);
    background-color: rgb(255, 255, 255);
  }
}

@-webkit-keyframes bounce_fountainG {
  0% {
    -webkit-transform: scale(1);
    background-color: rgb(0, 0, 0);
  }

  100% {
    -webkit-transform: scale(0.3);
    background-color: rgb(255, 255, 255);
  }
}
